@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    background-color:black;
}

nav{
display: flex;
width: 100%;
background: rgb(31, 7, 139);
position: relative;
justify-content: space-between;
text-align: center;
padding: 0px 50px;
}

nav .icon{
font-weight: 600;
font-size: 25px;
color: rgb(255, 255, 255);
cursor: pointer;
text-align: center;
}

nav ul{
width: 100%;
display: flex;
list-style-type: none;
margin: 0px;
text-align: center;
}

nav ul li{
margin: 0 40px;
padding: 0px;
}

nav ul li a{
color: rgb(255, 255, 255);
font-size: 20px;
letter-spacing: 1px;
padding: 115 5px;
text-decoration: none;
}

nav a:hover{
border-bottom: 1px solid red;
}

.active{
border-bottom: 1px solid red;
}

.content-wrapper1{
    width: 110%;
    margin: auto;
}

.content-wrapper1 img{
    width: 100%;
    height: auto;
    background-size: cover;
}

.text-wrapper1{
    width: 100%;
    position: fixed;
    margin-top: -70%;
}

.text-wrapper1 h1{
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 5vw;
    font-family: poppins, san serif;
}

.content-wrapper2{
    width: 100%;
    margin: auto
}

.content-wrapper2 img{
    width: 100%;
    height: auto;
    background-size: cover;
}

.text-wrapper2{
    width: 100%;
    position: relative;
    margin-top: -65%;
    float: left;
}

.text-wrapper2 h1{
    text-align: center;
    color: white;
    font-size: 5vw;
    font-family: poppins, san serif;
}

.content-wrapper4{
    width: 110%;
    margin: auto;
}

.content-wrapper4 img{
    width: 100%;
    height: auto;
    background-size: cover;
}

.text-wrapper4{
    width: 100%;
    position: fixed;
    margin-top: -80%;
}

.text-wrapper4 h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    font-family: poppins, san serif;
}

.content-wrapper3{
    width: 100%;
    margin: auto;
}

.content-wrapper3 img{
    width: 100%;
    height: auto;
    background-size: cover;
}

.text-wrapper3{
    width: 100%;
    position: fixed;
    margin-top: -75%;
}

.text-wrapper3 h1{
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 5vw;
    font-family: poppins, san serif;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.container .main-video{
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
}

.container .main-video .video{
    width: 100%;
    border-radius: 5px
}

