@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', san serif;
}

body{
    font-family: 'Comic Neue', cursive;
    font-weight: 300;
    color: black;
}

h1, h2{
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    width: 100%;
    background: rgb(47, 0, 255);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 50px;
}

nav .icon{
    font-weight: 600;
    font-size: 25px;
    color: rgb(8, 8, 8);
    cursor: pointer;

}

nav ul{
    display: flex;
    list-style-type: none;
    margin: auto 0;
}

nav ul li{
    margin: 0 2px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5 10px;
    text-decoration-color: rgb(255, 0, 0);
}





