#hero-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/hero-image.jpg') no-repeat center center;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

